body {
    margin: 0;
    background-color: #3F5765;
    font-family: 'Roboto', sans-serif;
    background: url('../images/home-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Limelight', cursive;    
    font-size: 3rem;
    text-transform: uppercase;
    color: #EFEFEF;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
}

.mlr-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

#test {
    margin: 2rem auto;
    padding: 1rem 0;
    background-color: #E5E5E5;
    color: #FF530D;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/*** NAV ***/


.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}   
    .brand {
        font-family: 'Limelight', cursive;        
        font-size: 2rem;
        color: #FF530D;
        margin-left: 2rem;
    }

    .nav__items a,
    .nav__items a:visited {
        margin: 1rem;
        padding: 1rem;
        color: #EFEFEF;
        text-decoration: none;
        text-transform: uppercase;
    }

    .nav__items a:hover,
    .nav__items a:focus {
        color: #FF530D;
    }

/*** HOME ***/

.home--size {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .home__nav {
        color: #2B3A42;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .home__cards {
        width: 200px;
        height: 300px;
        margin: 1rem;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

        .thumbnail {
            width: 200px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FF530D;
        }

        .thumbnail a,
        .thumbnail a:visited {
            color: #EFEFEF;
        }

        .thumbnail:hover a,
        .thumbnail:focus a {
            color: #2B3A42;
        }

        .cards__title {
            width: 200px;
            height: 200px;
            background-color: #EFEFEF;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

    /*** CONTENT ***/

    .table--style {
        flex-wrap: wrap;
        margin: 0 auto;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-collapse: collapse;
        text-transform: uppercase;
    }  
        
        th, td {
            padding: 1rem;
            text-align: center;
        }

        th {
            background-color: #FF530D;
            color: #EFEFEF;
        }

        tr:nth-child(even) {
            background-color: #E5E5E5;
        }
        tr:nth-child(odd) {
            background-color: #EFEFEF;;
        }

        .table__button--style,
        .table__button--style:visited {
            text-decoration: none;
            font-size: 1rem;
            padding: 1rem;
            width: 80px;
            color: #FFF;
            border: none;
            border-radius: 2px;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        .modify {
            background-color: transparent !important;
        }

        .btn--delete,
        .btn--delete:visited {
            background-color: #E83333;
        }

        .btn--delete:focus,
        .btn--delete:hover {
            background-color: #CC2C2C;
        }

        .btn--update,
        .btn--update:visited {
            background-color: #34C94A;
        }

        .btn--update:focus,
        .btn--update:hover {
            background-color: #2CAA3F;
        }

        .btn--add,
        .btn--add:visited {
            background-color: #49B6FF;
        }

        .btn--add:focus,
        .btn--add:hover {
            background-color: #3B92CC;
        }

        input {
            font-family: 'Oswald', sans-serif;
            padding: 0.5rem;
            font-size: 1rem;
        }

        input[type="submit"] {
            border: none;
        }

    .errors--display {
        width: 300px;
        margin: 2rem auto;
        padding: 1rem;
        text-align: center;
        color: #FF530D;
        font-weight: 400;
        background-color: rgba(0, 0, 0, 0.7);
    }

        .errors__list {
            padding: 0;
            list-style-type: none;
        }

        .errors__list li {
            margin-bottom: 1rem;
        }

        .orange {
            margin-top: 1rem;
            color: #FF530D;
        }

/*** FORM UPDATE ***/

.form--update {
    width: 600px;
    padding: 2rem 2rem;
    background-color: #EFEFEF;
    border-radius: 2px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.update__cards {
    width: 600px;
    min-height: 80px;
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.cards_label {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 150px;
    min-height: 80px;
    background-color: #FF530D;
    color: #EFEFEF;
}

    .cards_label label {
        margin-left: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }

.cards__input {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 450px;
    min-height: 80px;
    background-color: #EFEFEF;
    color: #FF530D;
}

    .cards__input input {
        width: 400px;
    }

    .cards__input select {
        width: 400px;
    }

.update__button {
    display: flex;
    justify-content: center;
}

.update__button--style,
.update__button--style:visited {
    text-decoration: none;
    background-color: #34C94A;
    font-size: 1.3rem;
    padding: 1rem;
    width: 600px;
    color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.update__button--style:focus,
.update__button--style:hover {
    background-color: #2CAA3F;
}

.select-style {
    border: 1px solid #ccc;
    width: 400px;
    overflow: hidden;
    background: #FFF url("../images/arrow-icon.png") no-repeat 95% 50%;
    background-size: 20px 20px;
    margin: 1rem;
}

.select-style select {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}